In [167]:
import pandas as pd
import numpy as np

In [168]:
df = pd.read_csv(r'C:\Users\WELCOME\OneDrive\Desktop\Learning\classification__datasets\play_tennis.csv').iloc[:,1:]
df

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [169]:
Look_up_Table = {}
df.shape[0]
x = df.iloc[:,:-1]
y = df.iloc[:,-1:]
x.select_dtypes(include=['object', 'category']).columns

Index(['outlook', 'temp', 'humidity', 'wind'], dtype='object')

In [170]:
sum(df[df['play']=='Yes']['outlook'] == 'Rain')/len(df[df['play']=='Yes'])

0.3333333333333333

In [ ]:
Look_up_Table['play'] = {}
for i in y['play'].unique():
    p = len(y[y['play']==i])/y.shape[0]
    Look_up_Table['play'][i] = p
col_name = x.select_dtypes(include=['object', 'category']).columns
for c in col_name:
    for feat in df[c].unique():
        for n_f in df['play'].unique():
            p = sum(df[df['play']==n_f][c] == feat)/len(df[df['play']==n_f])
            if c not in Look_up_Table:
                Look_up_Table[c] = {}
            if feat not in Look_up_Table[c]:
                Look_up_Table[c][feat] = {}
            if n_f not in Look_up_Table[c][feat]:
                Look_up_Table[c][feat][n_f] = p



           
    



def predict(x):
    l = {}
    l['Yes'] = Look_up_Table['play']['Yes']
    l['No'] = Look_up_Table['play']['No']
 
   
    for c in x.columns:
       for f in x[c].unique():
           for b in ['Yes','No']:
               l[b]*= Look_up_Table[c][f][b] 
    ans = 'Yes'
    val = -1
    for k,v in l.items():
        if val == -1 or v > val:
            ans = k
            val = v
    return {ans,val}

In [173]:
predict(x.iloc[:1])

{0.02742857142857143, 'No'}

In [174]:
def get(n):
    print(predict(x.iloc[n-1:n]))

In [175]:
for i in range(len(df)):
    get(i)

{0.6428571428571429, 'Yes'}
{0.02742857142857143, 'No'}
{0.04114285714285714, 'No'}
{0.014109347442680775, 'Yes'}
{0.021164021164021163, 'Yes'}
{0.031746031746031744, 'Yes'}
{0.015873015873015872, 'Yes'}
{0.021164021164021163, 'Yes'}
{0.02742857142857143, 'No'}
{0.021164021164021163, 'Yes'}
{0.042328042328042326, 'Yes'}
{0.014109347442680775, 'Yes'}
{0.014109347442680775, 'Yes'}
{0.02821869488536155, 'Yes'}

In [176]:
df

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No